{% extends 'baseApp/base.html' %}

{% block title %}
    home
{% endblock %}

{% block content %}
    <div id="container">
    <h1>To-Do List <i class="fa fa-pencil" id="newTD"></i></h1>
    <input type="text" placeholder="Add New To-Do">
    {% for data in data %}
        <ul>
           <li><span><a href="{% url 'base:delete' data.id %}"><i class="fa fa-trash"></i></a></span> <a href="{% url 'base:detail' data.id %}">{{data.title}}</a></li>
        </ul>
    {% endfor %}
    
</div>
{% endblock %}